Repository nasa-jpl/explorer-1, pull requests merged in 2023-08, with the labels that each got.

#408 Add back to top component
  dist/css/explorer-1.min.css
  dist/js/explorer-1.min.js
  src/index.html
  src/js/components/_BackToTop.js
  src/js/scripts.js
  src/scss/_components.scss
  src/scss/components/_BackToTop.scss
  storybook/stories/_docs/overview_utilities.stories.mdx
  storybook/stories/components/BackToTop/BackToTop.js
  storybook/stories/components/BackToTop/BackToTop.stories.js
  storybook/stories/components/BaseButton/BaseButton.js
  storybook/stories/components/BaseButton/BaseButton.stories.js
Labels: storybook, minor, feature

#409 Add circleimage / milestone card component
  dist/css/explorer-1.min.css
  src/scss/_components.scss
  src/scss/components/_BlockCircleImageCard.scss
  storybook/stories/_docs/overview_blocks.stories.mdx
  storybook/stories/components/BlockCircleImageCard/BlockCircleImageCard.js
  storybook/stories/components/BlockCircleImageCard/BlockCircleImageCard.stories.js
Labels: storybook, minor, feature

#415 Add Node.js and npm version requirements
  package.json
Labels: maintenance, patch

#418 Add Reddit icon and update X icon
  dist/css/explorer-1.min.css
  src/scss/_components.scss
  src/scss/components/_BaseButton.scss
  src/scss/components/_IconSocialReddit.scss
  storybook/stories/components/BaseButton/BaseButton.js
  storybook/stories/components/BaseButton/BaseButton.stories.js
  storybook/stories/components/Icons/IconSocialReddit.js
  storybook/stories/components/Icons/IconSocialTwitter.js
  storybook/stories/components/Icons/Icons.stories.js
  tailwind.config.js
Labels: enhancement, storybook, minor, feature

#420 Add examples of headings with icons
  storybook/stories/_docs/foundation_typography.stories.mdx
  storybook/stories/components/BaseHeading/BaseHeading.js
  storybook/stories/components/BaseHeading/BaseHeading.stories.js
Labels: enhancement
