Repository nasa-jpl/explorer-1, pull requests merged in 2024-05, with the labels that each got.

#427 Updating npm to 16.20.2
  .nvmrc
  dist/css/explorer-1.min.css
  dist/js/explorer-1.min.js
  package-lock.json
  package.json
  src/index.html
  storybook/stories/components/AppBarInternal/AppBarInternal.stories.js
  storybook/stories/components/BlockImage/BlockImage.stories.js
  storybook/stories/components/BlockInlineImage/BlockInlineImage.stories.js
  storybook/stories/components/BlockLinkCarousel/BlockLinkCarousel.stories.js
  storybook/stories/components/BlockQuote/BlockQuote.stories.js
  storybook/stories/components/BlockTeaser/BlockTeaser.stories.js
  storybook/stories/components/NavInternal/NavInternalHighlight.stories.js
  storybook/stories/components/NavInternal/NavInternalPanel.stories.js
  storybook/stories/components/SearchResultCard/SearchResultCard.stories.js
Labels: maintenance

#430 fix: links to stories within storybook
  storybook/stories/_docs/overviews/global_footers.docs.mdx
  storybook/stories/_docs/utils/ComponentItem.jsx
Labels: bug, storybook

#431 chore: upgrade to Storybook 8.1.1, fixing some docs display issues
  Makefile
  package-lock.json
  package.json
  storybook/main.js
  storybook/manager-head.html
  storybook/preview-head.html
  storybook/preview.js
  storybook/stories/_docs/foundation/grid.stories.js
  storybook/stories/_docs/foundation/grid_layouthelpers.stories.js
  storybook/stories/_docs/foundation/themes.stories.js
  storybook/stories/_docs/foundation/typography.stories.js
  storybook/stories/_docs/guides/responsive.stories.js
  storybook/stories/components/BaseButton/BaseButton.stories.js
  storybook/stories/components/BaseHeading/BaseHeading.stories.js
  storybook/stories/components/BaseIframe/BaseIframe.stories.js
  storybook/stories/components/BaseImage/BaseImage.stories.js
  storybook/stories/components/BaseImageCaption/BaseImageCaption.stories.js
  storybook/stories/components/BaseImagePlaceholder/BaseImagePlaceholder.stories.js
  storybook/stories/components/BaseLink/BaseLink.stories.js
  storybook/stories/components/BasePlaceholder/BasePlaceholder.stories.js
  storybook/stories/components/BlockAccordion/BlockAccordion.stories.js
  storybook/stories/components/BlockAccordionItem/BlockAccordionItem.stories.js
  storybook/stories/components/BlockCard/BlockCard.stories.js
  storybook/stories/components/BlockCardGroup/BlockCardGroup.stories.js
  storybook/stories/components/BlockCircleImageCard/BlockCircleImageCard.stories.js
  storybook/stories/components/BlockIframeEmbed/BlockIframeEmbed.stories.js
  storybook/stories/components/BlockImage/BlockImage.stories.js
  storybook/stories/components/BlockImageCarousel/BlockImageCarousel.stories.js
  storybook/stories/components/BlockImageGallery/BlockImageGallery.stories.js
  storybook/stories/components/BlockInlineImage/BlockInlineImage.stories.js
  storybook/stories/components/BlockKeyPoints/BlockKeyPoints.stories.js
  storybook/stories/components/BlockLinkCard/BlockLinkCard.stories.js
  storybook/stories/components/BlockLinkCarousel/BlockLinkCarousel.stories.js
  storybook/stories/components/BlockLinkTile/BlockLinkTile.stories.js
  storybook/stories/components/BlockQuote/BlockQuote.stories.js
  storybook/stories/components/BlockRelatedLinks/BlockRelatedLinks.stories.js
  storybook/stories/components/BlockRelatedLinks/RelatedLink.stories.js
  storybook/stories/components/BlockTable/BlockTable.stories.js
  storybook/stories/components/BlockTeaser/BlockTeaser.stories.js
  storybook/stories/components/BlockText/BlockText.stories.js
  storybook/stories/components/BlockVideoEmbed/BlockVideoEmbed.stories.js
  storybook/stories/components/HeaderInternal/HeaderInternal.stories.js
  vite.config.js
Labels: storybook, maintenance

#435 Feature: monorepo eslint upgrade to flat config
  .github/workflows/lint.yml
  .gitignore
  .npmrc
  Makefile
  apps/html-storybook/.eslintrc.cjs
  apps/html-storybook/package.json
  apps/vue-storybook/.eslintrc.cjs
  apps/vue-storybook/.gitignore
  apps/vue-storybook/package.json
  eslint.config.js
  package.json
  packages/common-storybook/package.json
  packages/common-storybook/src/config/customTheme.ts
  packages/common-storybook/src/config/withGlobals.ts
  packages/common/package.json
  packages/common/tailwind.config.js
  packages/configs/eslint/index.js
  packages/configs/eslint/package.json
  packages/html/package-lock.json
  packages/html/package.json
  packages/nuxt/package.json
  packages/nuxt/src/module.ts
  packages/vue/.eslintrc.cjs
  packages/vue/package.json
  packages/vue/src/components/BaseButton/BaseButton.vue
  pnpm-lock.yaml
Labels: storybook, maintenance, feature

#436 Update build-deploy-storybook.yml
  .github/workflows/build-deploy-storybook.yml
Labels: bug, storybook, maintenance

#439 fixes eslinting rules for storybook
  apps/vue-storybook/package.json
  packages/common-storybook/package.json
  packages/common/package.json
  packages/configs/eslint/index.js
  packages/configs/eslint/package.json
  packages/html/package.json
  packages/html/src/components/AppBarInternal/AppBarInternal.stories.js
  packages/html/src/components/BaseButton/BaseButton.js
  packages/html/src/components/MixinCarousel/MixinCarousel.js
  packages/html/src/docs/utils/ComponentItem.jsx
  packages/html/src/docs/utils/ComponentList.jsx
  packages/nuxt/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Labels: bug, storybook

#446 updating storybook to 8.1.4
  .github/dependabot.yml
  apps/html-storybook/package.json
  apps/vue-storybook/package.json
  pnpm-lock.yaml
Labels: storybook, maintenance, patch

#451 adjustments after testing @explorer-1/nuxt in a separate project
  .gitignore
  .vscode/settings.json
  packages/nuxt/playground/app.vue
  packages/nuxt/src/module.ts
  packages/nuxt/src/runtime/tailwind.config.js
  packages/vue/dist/explorer-1-vue.d.ts
  packages/vue/dist/explorer-1-vue.js
  packages/vue/dist/explorer-1-vue.umd.cjs
  packages/vue/dist/src/components/BaseButton/BaseButton.vue.d.ts
  packages/vue/dist/src/components/BaseImage/BaseImage.vue.d.ts
  packages/vue/dist/src/components/BaseImageCaption/BaseImageCaption.vue.d.ts
  packages/vue/dist/src/components/BaseImagePlaceholder/BaseImagePlaceholder.vue.d.ts
  packages/vue/dist/src/components/BaseLink/BaseLink.vue.d.ts
  packages/vue/dist/src/components/BlockImage/BlockImage.vue.d.ts
  packages/vue/dist/src/components/BlockImage/BlockImageFullBleed.vue.d.ts
  packages/vue/dist/src/components/BlockImage/BlockImageStandard.vue.d.ts
  packages/vue/dist/src/components/Icons/IconArrows.vue.d.ts
  packages/vue/dist/src/components/Icons/IconCaret.vue.d.ts
  packages/vue/dist/src/components/Icons/IconExpand.vue.d.ts
  packages/vue/dist/src/components/Icons/IconLocation.vue.d.ts
  packages/vue/dist/src/components/Icons/IconUser.vue.d.ts
  packages/vue/dist/src/components/LayoutHelper/LayoutHelper.vue.d.ts
  packages/vue/dist/src/components/MixinAnimationCaret/MixinAnimationCaret.vue.d.ts
  packages/vue/dist/src/components/MixinFancybox/MixinFancybox.vue.d.ts
  packages/vue/dist/src/components/MixinFancybox/MixinFancyboxOpenButton.vue.d.ts
  packages/vue/dist/src/interfaces.d.ts
  packages/vue/dist/src/main.d.ts
  packages/vue/dist/src/utils/getSrcSet.d.ts
  packages/vue/dist/style.css
  packages/vue/lib/main.ts
  packages/vue/package.json
  packages/vue/src/components/BaseImage/BaseImage.vue
  packages/vue/src/components/MixinFancybox/MixinFancybox.vue
  packages/vue/src/components/MixinFancybox/MixinFancyboxOpenButton.vue
  packages/vue/vite.config.ts
  pnpm-lock.yaml
Labels: patch, feature
